<!--
  projects.html

  This child template extends base.html and defines the content for the Projects 
  page. It includes the project title, project details, and a GitHub link.
-->
{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Projects{% endblock title %}</h1>
{% endblock header %}

{% block content %}
  <h4 class="mx-3">Module 1: Personal Website</h4>
  <p class="mx-5">
    The goal of this assignment was to utilize the Flask framework to build a 
    personal portfolio website that can showcase my software projects. 
    The site includes three pages: my biography page, my projects page, 
    and my contact page. Each page was built using the Jinja template engine to 
    streamline development and ensure a consistent visual design across the 
    entire site. The project provided practical experience with Flask, HTML, 
    and CSS, while reinforcing best practices in Git-based version control. 
    Completing this assignment, I now have a scalable website foundation that 
    can be used to highlight future projects or professional milestones.
    <br><br>
    <strong>Skills Used:</strong> Python 3.10+, Flask, HTML, CSS, Jinja, GitHub
  </p>
  <a href="https://github.com/jacobwong962/jhu_software_concepts/tree/23f824c791e18123015ac73d7d21a7478fc981a3/module_1" class="mx-5">M1 Project Github</a>
{% endblock content %}