{% extends "base.html" %}

{% block content %}
  <h1 class="mb-4">Analysis</h1>
  <ul class="list-group">
    <li class="list-group-item">
      <h6>How many entries do you have in your database who have applied for Fall 2025?</h6>
      <p><em>Answer: Applicant count: {{ fall_2025_count }}</em></p>
    </li>
    <li class="list-group-item">
      <h6>What percentage of entries are from international students (not American or Other) (to two decimal places)?</h6>
      <p><em>Answer: Percent international: {{ intl_percent }}%</em></p>
    </li>
    <li class="list-group-item">
      <h6>What is the average GPA, GRE, GRE V, GRE AW of applicants who provide these metrics?</h6>
      <p><em>Answer: {{ averages[0] }}, {{ averages[1] }}, {{ averages[2] }}, {{ averages[3] }}</em></p>
    </li>
    <li class="list-group-item">
      <h6>What is the average GPA of American students in Fall 2025?</h6>
      <p><em>Answer: {{ avg_gpa_american }}</em></p>
    </li>
    <li class="list-group-item">
      <h6>What percent of entries for Fall 2025 are Acceptances (to two decimal places)?</h6>
      <p><em>Answer: {{ percent_accepted }}%</em></p>
    </li>
    <li class="list-group-item">
      <h6>What is the average GPA of applicants who applied for Fall 2025 who are Acceptances?</h6>
      <p><em>Answer: {{ avg_gpa_accepted }}</em></p>
    </li>
    <li class="list-group-item">
      <h6>How many entries are from applicants who applied to JHU for a master's degree in Computer Science?</h6>
      <p><em>Answer: {{ jhu_cs_masters }}</em></p>
    </li>
  </ul>
{% endblock %}