.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: #949494 !important;  
}

.active {
  color: #d6d857 !important;  
}

.profile-image {
    float: right !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: 0 !important;
}


