<!DOCTYPE html>
<html lang="en">
<head>
  <title>Portfolio - {% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
{% include("_navigation.html") %}
<section>
  <header class="m-3">
    {% block header %}{% endblock header %}
  </header>
  <main class="mx-2">
    {% block content %}<p>No text found.</p>{% endblock content %}
    
  </main>
</section>
</body>
</html>