<!--
  _navigation.html

  This partial template defines the navigation bar in the top-right corner of
  the website.
-->

<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('pages.index') }}"></a>

    <ul class="nav ms-auto">
      <li class="nav-item">
        <a class="nav-link {% if active_page == 'index' %}active{% endif %}" href="{{ url_for('pages.index') }}">Grad School Cafe Data Analysis</a>
      </li>
    </ul>
  </div>
</nav>